<?xml version="1.0" ?>
<model>
    <name>go_piece_black</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Peter Jochem</name>
        <email>peterjochem2020@u.northwestern.edu</email>
    </author>
    <description>Black Go Piece</description>
</model>
